* {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #F5F7FB;
}
.app-container {
  margin: 0;
  padding: 0;
  height: 100vh;

}
.home-container {
  height: 100%;
  width: 100vw;
  background-image: url("./assets/intro-page.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header {
  color: #293264;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.header--title {
  font-size: 5rem;
  margin: 0;
}

.header--subheader {
  margin: 0;
}

.start-quiz-btn {
  font-size: 1.1rem;
  padding: 10px 25px;
  border-radius: 10px;
  border: 0px;
  background-color: #4D5B9E;
  color: white;
  transition: all 0.2s;
}

.start-quiz-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.quiz-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background-image: url("./assets/intro-page.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question--item {
  color: #293264;
}

.answer--list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.answer-item {
  border: 0.15em solid #4D5B9E;
  padding: 0.5em 1em;
  border-radius: 10px;
  color: #293264;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  border: 1px solid #DBDEF0;
  margin-top: 10px;
}

.answer-item:hover{

  cursor: pointer;
}

.answer-item.selected {
  background-color: #D6DBF5;
  border: 0.15em solid transparent;
}

.blue-btn {
  border: 0px;
  background-color: #4D5B9E;
  color: white;
  padding: 12px 24px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: large;
  transition: all 0.2s;
}

.check-ans-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.checking-scheme .answer-item.selected.correct {
  background-color: #94D7A2;
}

.checking-scheme .answer-item.selected {
  background-color: #F8BCBC;
}


.checking--list .answer-item {
  opacity: 50%;
}
.checking--list .answer-item.selected.correct {
  background-color: #94D7A2;
  opacity: 100%;
}

.checking--list .answer-item.correct {
  background-color:  #F8BCBC;
  border: 0px;
  opacity: 100%;
}
