* {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: yellow;
}
.app-container {
  margin: 0;
  padding: 0;
  height: 100vh;

}
.home-container {
  height: 100%;
  width: 100vw;
  background-image: url("./assets/intro-page.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header {
  color: #293264;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.header--title {
  font-size: 5rem;
  margin: 0;
}

.header--subheader {
  margin: 0;
}

.start-quiz-btn {
  font-size: 1.1rem;
  padding: 10px 25px;
  border-radius: 10px;
  border: 0px;
  background-color: #4D5B9E;
  color: white;
  transition: all 0.2s;
}

.start-quiz-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
